In [1]:
import pandas as pd
import numpy as np

In [2]:
df_people = pd.read_csv('DATA/dst-3.0_16_1_hh_database.csv', on_bad_lines='skip', sep=';')

In [3]:
df_people

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано
...,...,...,...,...,...,...,...,...,...,...,...,...
44739,"Мужчина , 30 лет , родился 17 января 1989",50000 руб.,"Финансист, аналитик, экономист, бухгалтер, мен...","Тверь , готов к переезду (Москва, Химки) , гот...",полная занятость,"полный день, удаленная работа","Опыт работы 7 лет 7 месяцев Финансист, аналит...","ООО ""IAS"" (независимый участник объединения Ru...",Руководитель субгруппы,Высшее образование 2015 Московский гуманитарн...,22.04.2019 12:32,Не указано
44740,"Мужчина , 27 лет , родился 5 марта 1992",39000 руб.,"Системный администратор, IT-специалист","Липецк , готов к переезду , готов к командировкам","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день, ...","Опыт работы 7 лет Системный администратор, IT...",ИП Пестрецов,Предприниматель,Высшее образование (Бакалавр) 2016 Воронежски...,22.04.2019 13:11,Не указано
44741,"Женщина , 48 лет , родилась 26 декабря 1970",40000 руб.,"Аналитик данных, Математик","Челябинск , готова к переезду , готова к редки...",полная занятость,"полный день, удаленная работа",Опыт работы 21 год 5 месяцев Январь 1998 — по...,"ОАО «ЧМК», Исследовательско-Технологический Це...",Начальник группы аналитики,Высшее образование 2000 Южно-Уральский госуда...,09.04.2019 05:07,Не указано
44742,"Мужчина , 24 года , родился 6 октября 1994",20000 руб.,Контент-менеджер,"Тамбов , не готов к переезду , не готов к кома...","частичная занятость, полная занятость",удаленная работа,Опыт работы 3 года 10 месяцев Контент-менедже...,IQ-Maxima,Менеджер проектов,Высшее образование 2015 Тамбовский государств...,26.04.2019 14:25,Имеется собственный автомобиль
44743,"Мужчина , 38 лет , родился 25 апреля 1980",120000 руб.,Руководитель проекта,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 15 лет 10 месяцев Руководитель пр...,ПАО ГК ТНС энерго,Руководитель отдела технической поддержки,Высшее образование 1997 Южно-Российский госуд...,05.07.2018 20:15,Не указано

In [4]:
df = pd.read_csv('DATA/vacancy.csv', on_bad_lines='skip', sep='|')

/var/folders/ts/jvw0hpgj7h93dt320hm62slh0000gn/T/ipykernel_19905/3534108789.py:1: DtypeWarning: Columns (1,69) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('DATA/vacancy.csv', on_bad_lines='skip', sep='|')

In [5]:
df

,id,academic_degree,accommodation_capability,accommodation_type,additional_premium,additional_requirements,bonus_type,measure_type,busy_type,career_perspective,...,federalDistrictCode,industryBranchName,contactList,company_name,full_company_name,company_inn,company,languageKnowledge,hardSkills,softSkills
0,47cb5705-bf0a-11ed-b9c1-05dc90903fb8,NaN,False,NaN,NaN,<p>Оформление по Трудовому кодексу с первого д...,NaN,NaN,Полная занятость,False,...,4.0,NaN,NaN,NaN,"Акционерное общество ""Тандер""",2.310031e+09,"{""companycode"":""c7dc4590-8030-11ec-ab76-550ed7...",[],[],[]
1,47c38801-82cc-11ee-a2a9-3950de1bc4b3,NaN,False,NaN,NaN,NaN,NaN,NaN,Полная занятость,False,...,8.0,NaN,NaN,NaN,NaN,7.709970e+09,"{""companycode"":""5147746474134"",""hr-agency"":fal...",[],[],[]
2,47c1eb31-8f1c-11ec-b10f-dbfed3997e57,NaN,False,NaN,NaN,Обработка деталей на фрезерных станках в соотв...,NaN,NaN,Полная занятость,True,...,5.0,NaN,NaN,NaN,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""НАУЧ...",6.629021e+09,"{""companycode"":""1076629000690"",""email"":""adm@ug...",[],[],[]
3,47b34486-7d5f-11ee-a059-e73e8fa159bf,NaN,False,NaN,30.0,NaN,MONTHLY,PERCENT,Полная занятость,False,...,6.0,NaN,NaN,NaN,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АЙСИ...",2.465342e+09,"{""companycode"":""1212400023472"",""email"":""icmwoo...","[{""code_language"":""Русский"",""id_owner"":""47b344...",[],[]
4,47a8cf85-4527-11ed-bcc0-791a818bdadb,NaN,False,NaN,NaN,<p>Адреса по вакансии Уборщик производственных...,NaN,NaN,Полная занятость,False,...,4.0,NaN,NaN,NaN,УФПС ПЕРМСКОГО КРАЯ,7.724490e+09,"{""companycode"":""4be20970-74ff-11ec-833e-4febb2...",[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713986,f93b38c5-f084-11ec-ba26-550ed7335bbe,NaN,False,NaN,NaN,NaN,NaN,NaN,Полная занятость,False,...,5.0,NaN,NaN,NaN,"Общество с ограниченной ответственностью ""ЛД Ф...",4.501232e+09,"{""companycode"":""1214500004036"",""email"":""ld-fit...",[],[],[]
713987,f93af6a5-c6d8-11ed-a5f0-91f5d381286a,NaN,False,NaN,NaN,<p>на собеседовании</p>,NaN,NaN,Полная занятость,False,...,4.0,NaN,NaN,NaN,"МУНИЦИПАЛЬНОЕ КАЗЕННОЕ УЧРЕЖДЕНИЕ ""ГОРОДСКОЕ Б...",5.607144e+09,"{""companycode"":""1225600002924"",""email"":""mkugbd...",[],[],[]
713988,f93abdc5-85d8-11ed-a1ee-17f530626801,NaN,False,NaN,NaN,NaN,NaN,NaN,Полная занятость,False,...,3.0,NaN,NaN,NaN,"МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ""ЦЕНТР СОЦ...",6.116006e+09,"{""companycode"":""1026101124356"",""email"":""cso829...",[],[],[]
713989,f93a9ec5-718d-11ee-9eda-d549be31d974,NaN,False,NaN,NaN,NaN,NaN,NaN,Полная занятость,False,...,1.0,NaN,NaN,NaN,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""БУРГ...",7.719724e+09,"{""companycode"":""1097746274009"",""email"":""Ksyush...",[],[],[]
713990,f93a8095-0e40-11ed-b7fe-ed9942adf613,NaN,False,NaN,NaN,NaN,NaN,NaN,Полная занятость,False,...,1.0,NaN,NaN,NaN,ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ЗДРАВООХР...,4.011003e+09,"{""companycode"":""4607ee90-92df-11ec-92fd-550ed7...",[],[],[]

In [6]:
df.columns.tolist()

['id',
 'academic_degree',
 'accommodation_capability',
 'accommodation_type',
 'additional_premium',
 'additional_requirements',
 'bonus_type',
 'measure_type',
 'busy_type',
 'career_perspective',
 'change_time',
 'code_external_system',
 'code_profession',
 'code_professional_sphere',
 'company_code',
 'contact_person',
 'contact_source',
 'data_ids',
 'date_create',
 'date_modify',
 'deleted',
 'education',
 'education_speciality',
 'foreign_workers_capability',
 'metro_ids',
 'is_mobility_program',
 'is_moderated',
 'is_uzbekistan_recruitment',
 'is_quoted',
 'need_medcard',
 'oknpo_code',
 'okso_code',
 'original_source_type',
 'other_vacancy_benefit',
 'position_requirements',
 'position_responsibilities',
 'publication_period',
 'published_date',
 'regionName',
 'regionNameTerm',
 'company_business_size',
 'required_certificates',
 'required_drive_license',
 'required_experience',
 'retraining_capability',
 'retraining_condition',
 'retraining_grant',
 'retraining_grant_value',
 'salary',
 'salary_min',
 'salary_max',
 'schedule_type',
 'social_protected_ids',
 'source_type',
 'state_region_code',
 'status',
 'transport_compensation',
 'vacancy_address_additional_info',
 'vacancy_address',
 'vacancy_address_code',
 'vacancy_address_house',
 'vacancy_address_latitude',
 'vacancy_address_longitude',
 'vacancy_benefit_ids',
 'vacancy_name',
 'visibility',
 'work_places',
 'professionalSphereName',
 'federalDistrictCode',
 'industryBranchName',
 'contactList',
 'company_name',
 'full_company_name',
 'company_inn',
 'company',
 'languageKnowledge',
 'hardSkills',
 'softSkills']

In [7]:
df[['vacancy_name', 'regionName', 'education', 'salary']]

,vacancy_name,regionName,education,salary
0,Заведующий производством в Гипермаркет Магнит,Самарская область,Среднее профессиональное,от 45000
1,Бухгалтер первичной документации,Ставропольский край,Среднее,от 35000
2,Фрезеровщик,Свердловская область,Не указано,от 32000
3,Учетчик маркировщик,Красноярский край,Не указано,от 40000
4,Уборщик производственных и служебных помещений,Пермский край,Среднее,от 18300
...,...,...,...,...
713986,Слесарь-инструментальщик,Курганская область,Среднее,от 45000
713987,уборщик территорий,Оренбургская область,Не указано,от 24200
713988,медицинская сестра по реабилитации,Ростовская область,Среднее профессиональное,от 16242
713989,Повар-кассир,Московская область,Среднее профессиональное,от 42000
713990,Медицинская сестра по массажу,Калужская область,Среднее профессиональное,от 25000

In [8]:
df_vacancy = df[['vacancy_name', 'regionName', 'education', 'salary']].copy()
df_vacancy.columns = ['vacancy_name', 'regionName', 'education', 'salary_from']

In [9]:
df_vacancy

,vacancy_name,regionName,education,salary_from
0,Заведующий производством в Гипермаркет Магнит,Самарская область,Среднее профессиональное,от 45000
1,Бухгалтер первичной документации,Ставропольский край,Среднее,от 35000
2,Фрезеровщик,Свердловская область,Не указано,от 32000
3,Учетчик маркировщик,Красноярский край,Не указано,от 40000
4,Уборщик производственных и служебных помещений,Пермский край,Среднее,от 18300
...,...,...,...,...
713986,Слесарь-инструментальщик,Курганская область,Среднее,от 45000
713987,уборщик территорий,Оренбургская область,Не указано,от 24200
713988,медицинская сестра по реабилитации,Ростовская область,Среднее профессиональное,от 16242
713989,Повар-кассир,Московская область,Среднее профессиональное,от 42000
713990,Медицинская сестра по массажу,Калужская область,Среднее профессиональное,от 25000

In [10]:
df_vacancy = df_vacancy.dropna()

In [11]:
df_vacancy['education'].unique()

array(['Среднее профессиональное', 'Среднее', 'Не указано', 'Высшее',
       'Среднее общее', 'Основное общее', 'Незаконченное высшее'],
      dtype=object)

In [12]:
df_vacancy['education'] = df_vacancy['education'].apply(lambda x: 'Среднее' if x.find('общее') != -1 else x)
df_vacancy['education'] = df_vacancy['education'].apply(lambda x: 'Среднее специальное' if x.find('Среднее профессиональное') != -1 else x)
df_vacancy['education'] = df_vacancy['education'].apply(lambda x: 'Неоконченное высшее' if x.find('Незаконченное высшее') != -1 else x)

/var/folders/ts/jvw0hpgj7h93dt320hm62slh0000gn/T/ipykernel_19905/3976053151.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vacancy['education'] = df_vacancy['education'].apply(lambda x: 'Среднее' if x.find('общее') != -1 else x)
/var/folders/ts/jvw0hpgj7h93dt320hm62slh0000gn/T/ipykernel_19905/3976053151.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vacancy['education'] = df_vacancy['education'].apply(lambda x: 'Среднее специальное' if x.find('Среднее профессиональное') != -1 else x)
/var/folders/ts/jvw0hpgj7h93dt320hm62slh0000gn/T/ipykernel_19905/3976053151.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vacancy['education'] = df_vacancy['education'].apply(lambda x: 'Неоконченное высшее' if x.find('Незаконченное высшее') != -1 else x)

In [13]:
df_vacancy['education'].unique()

array(['Среднее специальное', 'Среднее', 'Не указано', 'Высшее',
       'Неоконченное высшее'], dtype=object)

In [14]:
df_vacancy['salary'] = 0
for i in range(len(df_vacancy)):
    if df_vacancy.iloc[i, 3][0] == 'о':
        df_vacancy.iloc[i, 4] = df_vacancy.iloc[i, 3][3:]
    else:
        df_vacancy.iloc[i, 4] = df_vacancy.iloc[i, 3]

/var/folders/ts/jvw0hpgj7h93dt320hm62slh0000gn/T/ipykernel_19905/2475406928.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vacancy['salary'] = 0

In [15]:
df_vacancy = df_vacancy.drop(columns='salary_from')
df_vacancy['salary'] = df_vacancy['salary'].astype('int')

In [16]:
df_vacancy = pd.concat([pd.get_dummies(df_vacancy['education'], drop_first=True),
          df_vacancy.drop(columns='education')], axis = 1)

In [17]:
df_vacancy

,Не указано,Неоконченное высшее,Среднее,Среднее специальное,vacancy_name,regionName,salary
0,0,0,0,1,Заведующий производством в Гипермаркет Магнит,Самарская область,45000
1,0,0,1,0,Бухгалтер первичной документации,Ставропольский край,35000
2,1,0,0,0,Фрезеровщик,Свердловская область,32000
3,1,0,0,0,Учетчик маркировщик,Красноярский край,40000
4,0,0,1,0,Уборщик производственных и служебных помещений,Пермский край,18300
...,...,...,...,...,...,...,...
713986,0,0,1,0,Слесарь-инструментальщик,Курганская область,45000
713987,1,0,0,0,уборщик территорий,Оренбургская область,24200
713988,0,0,0,1,медицинская сестра по реабилитации,Ростовская область,16242
713989,0,0,0,1,Повар-кассир,Московская область,42000
713990,0,0,0,1,Медицинская сестра по массажу,Калужская область,25000

In [18]:
df_cv = df_people[['Ищет работу на должность:', 'Город, переезд, командировки', 'Образование и ВУЗ', 'ЗП']].copy()
df_cv.columns = ['vacancy_name', 'regionName', 'education', 'salary']

In [19]:
df_cv

,vacancy_name,regionName,education,salary
0,Системный администратор,"Советск (Калининградская область) , не готов к...",Неоконченное высшее образование 2000 Балтийск...,29000 руб.
1,Технический писатель,"Королев , не готов к переезду , готов к редким...",Высшее образование 1981 Военно-космическая ак...,40000 руб.
2,Оператор,"Тверь , не готова к переезду , не готова к ком...",Среднее специальное образование 2002 Профессио...,20000 руб.
3,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...",Высшее образование 2002 Саратовский государст...,100000 руб.
4,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",Высшее образование 2015 Кгу Психологии и педаг...,140000 руб.
...,...,...,...,...
44739,"Финансист, аналитик, экономист, бухгалтер, мен...","Тверь , готов к переезду (Москва, Химки) , гот...",Высшее образование 2015 Московский гуманитарн...,50000 руб.
44740,"Системный администратор, IT-специалист","Липецк , готов к переезду , готов к командировкам",Высшее образование (Бакалавр) 2016 Воронежски...,39000 руб.
44741,"Аналитик данных, Математик","Челябинск , готова к переезду , готова к редки...",Высшее образование 2000 Южно-Уральский госуда...,40000 руб.
44742,Контент-менеджер,"Тамбов , не готов к переезду , не готов к кома...",Высшее образование 2015 Тамбовский государств...,20000 руб.
44743,Руководитель проекта,"Москва , не готов к переезду , не готов к кома...",Высшее образование 1997 Южно-Российский госуд...,120000 руб.

In [20]:
df_cv['regionName'] = df_cv['regionName'].apply(lambda x: x.split(' ,')[0])

In [21]:
df_cv['education'] = df_cv['education'].apply(lambda x: x[0:x.find('образование')-1])

In [22]:
df_cv.education.unique()

array(['Неоконченное высшее', 'Высшее', 'Среднее специальное', 'Среднее'],
      dtype=object)

In [23]:
df_cv = pd.concat([pd.get_dummies(df_cv['education'], drop_first=True),
          df_cv.drop(columns='education')], axis = 1)

In [24]:
df_cv['Не указано'] = 0

In [25]:
df_cv = df_cv[df_vacancy.columns].copy()

In [26]:
df_cv['salary'] = df_cv['salary'].apply(lambda x: x.split(' ')[0])

In [27]:
df_cv['salary'] = df_cv['salary'].astype('int')

In [28]:
df_cv

,Не указано,Неоконченное высшее,Среднее,Среднее специальное,vacancy_name,regionName,salary
0,0,1,0,0,Системный администратор,Советск (Калининградская область),29000
1,0,0,0,0,Технический писатель,Королев,40000
2,0,0,0,1,Оператор,Тверь,20000
3,0,0,0,0,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,Саратов,100000
4,0,0,0,0,Региональный менеджер по продажам,Москва,140000
...,...,...,...,...,...,...,...
44739,0,0,0,0,"Финансист, аналитик, экономист, бухгалтер, мен...",Тверь,50000
44740,0,0,0,0,"Системный администратор, IT-специалист",Липецк,39000
44741,0,0,0,0,"Аналитик данных, Математик",Челябинск,40000
44742,0,0,0,0,Контент-менеджер,Тамбов,20000
44743,0,0,0,0,Руководитель проекта,Москва,120000

In [29]:
import fasttext
import fasttext.util

In [30]:
def embeddings_ft(data, shape, feature_name):
    model = fasttext.load_model('../../rabota_ru/cc.ru.300.bin')
    fasttext.util.reduce_model(model, shape)
    
    emb_vector = []
    
    data = data.tolist()
    
    for words in data:
        vec = [model.get_word_vector(word) for word in words.split(' ')][0].tolist()
        emb_vector.append(vec)
    return pd.DataFrame(emb_vector, columns=[feature_name+'_{}'.format(feature) for feature in range(1, shape+1)])

In [31]:
vacancy_vec = embeddings_ft(df_vacancy['vacancy_name'], 100, 'vac')

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [32]:
region_vec_vacancy = embeddings_ft(df_vacancy['regionName'], 100, 'reg')

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [33]:
df_vacancy_emb = pd.concat([df_vacancy.drop(columns=['vacancy_name', 'regionName']).reset_index(drop=True), 
                            vacancy_vec], axis=1)

In [34]:
df_vacancy_emb

,Не указано,Неоконченное высшее,Среднее,Среднее специальное,salary,vac_1,vac_2,vac_3,vac_4,vac_5,...,vac_91,vac_92,vac_93,vac_94,vac_95,vac_96,vac_97,vac_98,vac_99,vac_100
0,0,0,0,1,45000,0.072467,0.048782,0.072530,-0.003694,-0.117739,...,-0.011089,-0.043310,-0.017931,-0.027483,0.029111,0.008965,-0.029645,0.039418,-0.006697,0.024477
1,0,0,1,0,35000,0.020689,0.120622,0.096563,0.009973,-0.060626,...,0.033488,-0.040305,0.047349,-0.023803,0.043005,-0.028392,-0.104958,-0.048488,-0.007467,0.026672
2,1,0,0,0,32000,0.105305,0.072013,0.061429,0.019963,-0.044462,...,-0.008172,-0.046494,0.051577,0.033273,0.009258,0.010346,-0.012211,0.049876,-0.038947,0.039466
3,1,0,0,0,40000,0.095411,0.060052,0.044331,0.029381,-0.082176,...,0.045566,-0.068687,0.075656,0.043718,0.022224,-0.008336,-0.091708,-0.034305,0.013585,0.092595
4,0,0,1,0,18300,0.069592,0.099703,0.083148,-0.028487,0.025412,...,-0.074458,-0.076806,-0.040318,0.041556,-0.017282,0.003890,-0.078950,0.028423,-0.073900,0.015094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708673,0,0,1,0,45000,0.089971,0.035662,0.020112,0.009051,-0.034719,...,0.018701,-0.023860,0.035129,0.021304,0.020004,-0.005312,-0.002498,0.017695,-0.014227,0.032662
708674,1,0,0,0,24200,-0.019478,0.058991,-0.000184,-0.070913,0.081159,...,-0.017941,-0.013162,-0.011590,0.020858,-0.010896,0.030060,-0.014101,0.021418,0.021721,0.012707
708675,0,0,0,1,16242,0.011336,0.021004,0.043808,0.029452,-0.007903,...,0.020032,-0.013677,-0.033043,-0.052783,0.087696,-0.025400,-0.007411,-0.008318,-0.042442,0.057679
708676,0,0,0,1,42000,0.031605,0.053691,0.027202,0.011147,-0.040836,...,0.035551,-0.011591,0.007891,0.005122,0.036857,0.006080,-0.055142,0.012026,-0.057007,0.033305
708677,0,0,0,1,25000,0.044060,0.107166,0.089474,0.048502,-0.025708,...,-0.007726,-0.055427,-0.057860,-0.015543,0.078727,-0.045180,-0.044513,-0.014167,-0.056698,0.030766

In [35]:
vacancy_vec = embeddings_ft(df_cv['vacancy_name'], 100, 'vac')
region_vec_cv = embeddings_ft(df_cv['regionName'], 100, 'reg')

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.
Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [36]:
df_cv_emb = pd.concat([df_cv.drop(columns=['vacancy_name', 'regionName']).reset_index(drop=True), 
                            vacancy_vec], axis=1)

In [37]:
from sklearn.neighbors import NearestNeighbors

In [38]:
knn = NearestNeighbors(n_neighbors=50).fit(df_vacancy_emb)

In [40]:
knn_region = NearestNeighbors(n_neighbors=50).fit(region_vec_vacancy)

In [39]:
knn.kneighbors((df_cv_emb.iloc[203]).to_numpy().reshape(1, -1), return_distance=False)

/Users/grigoriiott/anaconda3/envs/nlp_env/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

array([[666829, 246989, 252636, 161743, 350936, 626259,  39021, 139152,
        281583, 103850,  16943, 462853, 528728, 341802, 503705, 360915,
        413509, 510483, 643034, 327265,  79537, 167893, 363069, 145941,
        633868, 248664, 633876, 334083, 633827, 251804, 292871, 520930,
        510531, 171423, 442151, 238127, 524173, 116706, 389646, 610276,
        434186, 287686, 582057, 133427, 103159, 543735,   1937, 124152,
        185588, 383533]])

In [41]:
df_cv.iloc[203]

Не указано                                   0
Неоконченное высшее                          0
Среднее                                      0
Среднее специальное                          0
vacancy_name           Системный администратор
regionName                           Краснодар
salary                                   35000
Name: 203, dtype: object

In [42]:
df_vacancy.iloc[246989]

Не указано                                   0
Неоконченное высшее                          0
Среднее                                      0
Среднее специальное                          0
vacancy_name           Системный администратор
regionName                 Ульяновская область
salary                                   35000
Name: 248953, dtype: object

# Конечная

In [27]:
import pandas as pd
import numpy as np
import fasttext
import fasttext.util
from sklearn.neighbors import NearestNeighbors
from joblib import dump, load

In [2]:
model = fasttext.load_model('model/cc.ru.300.bin')
fasttext.util.reduce_model(model, 100)

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [4]:
df = pd.read_csv('data/hhparser_vacancy_short.csv')

In [5]:
df

,id,name,has_test,response_letter_required,salary_from,salary_to,salary_currency,salary_gross,published_at,created_at,parsed_at,url,employer_name,description,alternate_url,area_id,area_name
0,38228194,Project R’n’D / Технолог R’n’D,False,True,NaN,NaN,NaN,NaN,2020-07-26 23:40:42+00,2020-07-26 23:40:42+00,2020-07-27 03:03:03.154874+00,https://api.hh.ru/vacancies/38228194?host=hh.ru,Масл фектори,<p><strong>MF Kitchen</strong> — группа компан...,https://hh.ru/vacancy/38228194,1,Москва
1,36911636,"Продавец-кассир (Москва, Богданова, 16)",False,False,33500.0,40000.0,RUR,True,2020-07-27 00:28:12+00,2020-07-27 00:28:12+00,2020-07-27 03:03:04.258759+00,https://api.hh.ru/vacancies/36911636?host=hh.ru,Пятёрочка,<p><strong>Обязанности:</strong></p><ul><li>Об...,https://hh.ru/vacancy/36911636,1,Москва
2,36909000,"Продавец-кассир (Москва, Новогиреевская, 11/36)",False,False,33500.0,38000.0,RUR,True,2020-08-24 00:16:48+00,2020-08-24 00:16:48+00,2020-08-24 02:59:43.766137+00,https://api.hh.ru/vacancies/36909000?host=hh.ru,Пятёрочка,<p><strong>Обязанности:</strong></p><ul><li>Об...,https://hh.ru/vacancy/36909000,1,Москва
3,38985954,"Product owner бизнес–стрима ""Аналитика и Отчет...",False,False,NaN,NaN,NaN,NaN,2020-09-08 18:29:25+00,2020-09-08 18:29:25+00,2020-09-08 19:02:47.261747+00,https://api.hh.ru/vacancies/38985954?host=hh.ru,Банк ВТБ (ПАО),<p>Наша позиция предполагает участие в програм...,https://hh.ru/vacancy/38985954,1,Москва
4,40108800,Business Development Director (CTO),False,False,NaN,NaN,NaN,NaN,2020-11-25 08:56:45+00,2020-11-25 08:56:45+00,2020-11-28 06:59:37.872153+00,https://api.hh.ru/vacancies/40108800?host=hh.ru,Студия Олега Чулакова,<p>Студия Олега Чулакова — это дизайн-студия №...,https://hh.ru/vacancy/40108800,1,Москва
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86163,38834939,Оператор 1C,False,False,48000.0,NaN,RUR,True,2020-08-26 06:52:49+00,2020-08-26 06:52:49+00,2020-08-26 07:02:58.340756+00,https://api.hh.ru/vacancies/38834939?host=hh.ru,ТД ЛФБ,"<p> </p> <p>ТД «ЛФБ» - семейная компания, веде...",https://hh.ru/vacancy/38834939,1,Москва
86164,37345373,Стажер Управления финансирования торговли,False,False,40000.0,40000.0,RUR,True,2020-07-25 13:23:01+00,2020-07-25 13:23:01+00,2020-07-28 11:01:18.939989+00,https://api.hh.ru/vacancies/37345373?host=hh.ru,UniCredit Bank,<p>КРАТКАЯ ИНФОРМАЦИЯ:</p> <p>Отдел финансиров...,https://hh.ru/vacancy/37345373,1,Москва
86165,38602820,Преподаватель математики/информатики,False,False,NaN,NaN,NaN,NaN,2020-08-13 16:30:47+00,2020-08-13 16:30:47+00,2020-08-15 07:01:49.548725+00,https://api.hh.ru/vacancies/38602820?host=hh.ru,Центр дополнительного образования Новый Взгляд,<p><strong>Обязанности:</strong></p> <p> </p> ...,https://hh.ru/vacancy/38602820,1,Москва
86166,35870421,Программист С++ / Linux,False,False,NaN,NaN,NaN,NaN,2020-07-25 06:56:59+00,2020-07-25 06:56:59+00,2020-07-27 07:01:31.732133+00,https://api.hh.ru/vacancies/35870421?host=hh.ru,Военно-космическая академия имени А.Ф. Можайского,<p><strong>Требования:</strong></p> <ul> <li>З...,https://hh.ru/vacancy/35870421,2,Санкт-Петербург
86167,37847393,Бухгалтер,False,False,50000.0,NaN,RUR,True,2020-08-09 06:29:01+00,2020-08-09 06:29:01+00,2020-08-09 07:03:05.742439+00,https://api.hh.ru/vacancies/37847393?host=hh.ru,ЛМ Групп,<p>В динамично развивающуюся компанию приглаша...,https://hh.ru/vacancy/37847393,1,Москва

In [9]:
def embeddings_ft(data, model, feature_name):
    emb_vector = []
    
    data = data.tolist()
    
    for words in data:
        vec = [model.get_word_vector(word) for word in words.split(' ')][0].tolist()
        emb_vector.append(vec)
    return pd.DataFrame(emb_vector, columns=[feature_name+'_{}'.format(feature) for feature in range(1, 100+1)])

In [10]:
emb_vac = embeddings_ft(df['name'], model, 'vac')

In [12]:
emb_area = embeddings_ft(df['area_name'], model, 'city')

In [14]:
df_emb = pd.concat([df.reset_index(drop=True), 
                            emb_vac, 
                            emb_area], axis=1)

In [19]:
df_emb['salary_from'] = df_emb['salary_from'].fillna(0)

In [23]:
df_emb.to_csv('data/edited.csv', index=False)

In [20]:
df_emb[['vac_' + str(i+1) for i in range(100)]+['city_' + str(i+1) for i in range(100)]+['salary_from']]

,vac_1,vac_2,vac_3,vac_4,vac_5,vac_6,vac_7,vac_8,vac_9,vac_10,...,city_92,city_93,city_94,city_95,city_96,city_97,city_98,city_99,city_100,salary_from
0,0.064558,0.126880,0.141913,0.077586,0.045205,-0.031240,-0.027503,-0.252221,0.094312,-0.043634,...,-0.044808,0.010700,-0.060527,0.023035,-0.005107,0.041302,-0.011810,0.086100,-0.006798,0.0
1,0.033965,0.048852,0.032063,0.017525,-0.029654,0.048495,-0.016038,0.045788,-0.032323,0.008243,...,-0.044808,0.010700,-0.060527,0.023035,-0.005107,0.041302,-0.011810,0.086100,-0.006798,33500.0
2,0.033965,0.048852,0.032063,0.017525,-0.029654,0.048495,-0.016038,0.045788,-0.032323,0.008243,...,-0.044808,0.010700,-0.060527,0.023035,-0.005107,0.041302,-0.011810,0.086100,-0.006798,33500.0
3,0.115884,0.041923,0.093285,0.185447,0.051604,-0.044271,-0.016618,-0.231098,0.072004,0.006677,...,-0.044808,0.010700,-0.060527,0.023035,-0.005107,0.041302,-0.011810,0.086100,-0.006798,0.0
4,0.113203,0.075021,0.107695,0.094912,-0.005459,-0.044323,-0.054894,-0.211549,0.055756,0.015340,...,-0.044808,0.010700,-0.060527,0.023035,-0.005107,0.041302,-0.011810,0.086100,-0.006798,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86163,0.011405,0.092443,0.093547,0.066810,-0.011643,0.026264,-0.042030,-0.080500,-0.070054,-0.137184,...,-0.044808,0.010700,-0.060527,0.023035,-0.005107,0.041302,-0.011810,0.086100,-0.006798,48000.0
86164,0.056284,0.219407,0.176690,-0.038512,-0.058809,0.052934,-0.032870,-0.141129,-0.123938,-0.024961,...,-0.044808,0.010700,-0.060527,0.023035,-0.005107,0.041302,-0.011810,0.086100,-0.006798,40000.0
86165,-0.000754,0.075559,0.059511,-0.012131,-0.039270,0.006886,0.031906,-0.035328,-0.023860,-0.036038,...,-0.044808,0.010700,-0.060527,0.023035,-0.005107,0.041302,-0.011810,0.086100,-0.006798,0.0
86166,0.038065,0.090037,0.095752,-0.008971,-0.015693,-0.001469,-0.006969,-0.085320,-0.044882,-0.039187,...,0.006178,0.025462,-0.014995,0.027975,-0.011038,0.023247,-0.001384,0.031749,-0.002618,0.0
86167,0.020689,0.120622,0.096563,0.009973,-0.060626,0.068314,-0.018098,0.000567,-0.087320,-0.063642,...,-0.044808,0.010700,-0.060527,0.023035,-0.005107,0.041302,-0.011810,0.086100,-0.006798,50000.0

In [47]:
knn = NearestNeighbors(n_neighbors=150).fit(df_emb[['vac_' + str(i+1) for i in range(100)]+['city_' + str(i+1) for i in range(100)]+['salary_from']])

In [48]:
dump(knn, 'model/knn.joblib')

['model/knn.joblib']

In [28]:
knn = load('model/knn.joblib')

In [29]:
vacancy = 'Системный аналитик'
my_city = 'Москва'
zarplata = 60000

In [32]:
vacancy_emb = [model.get_word_vector(word) for word in vacancy.split(' ')][0].tolist()
my_city_emb = [model.get_word_vector(word) for word in my_city.split(' ')][0].tolist()

In [39]:
res = knn.kneighbors([vacancy_emb+my_city_emb+[zarplata]], return_distance=False)

/Users/grigoriiott/anaconda3/envs/deep_ml/lib/python3.9/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [38]:
df_emb.iloc[69544]['area_name']

id                                           37508415
name                        Системный администратор 1
has_test                                        False
response_letter_required                        False
salary_from                                   60000.0
                                      ...
city_96                                     -0.005107
city_97                                      0.041302
city_98                                      -0.01181
city_99                                        0.0861
city_100                                    -0.006798
Name: 69544, Length: 217, dtype: object

In [46]:
df.iloc[res[0]]

,id,name,has_test,response_letter_required,salary_from,salary_to,salary_currency,salary_gross,published_at,created_at,parsed_at,url,employer_name,description,alternate_url,area_id,area_name
69544,37508415,Системный администратор 1,False,False,60000.0,70000.0,RUR,False,2020-06-16 08:16:55+00,2020-06-16 08:16:55+00,2020-06-16 11:01:01.38224+00,https://api.hh.ru/vacancies/37508415?host=hh.ru,Бука,<strong>Обязанности:</strong> <ul> <li>Техниче...,https://hh.ru/vacancy/37508415,1,Москва
34292,44806815,Системный аналитик (Бизнес-аналитик),False,True,60000.0,90000.0,RUR,False,2021-06-19 19:58:31+00,2021-06-19 19:58:31+00,2021-06-22 19:08:49.79865+00,https://api.hh.ru/vacancies/44806815?host=hh.ru,Фортис Технологии,<p>Ищем системного аналитика в сферу разработк...,https://hh.ru/vacancy/44806815,1,Москва
28339,42586378,Системный аналитик,False,False,60000.0,80000.0,RUR,False,2021-03-29 06:32:12+00,2021-03-29 06:32:12+00,2021-03-29 07:12:43.64265+00,https://api.hh.ru/vacancies/42586378?host=hh.ru,Союзснаб,<strong>Обязанности:</strong> <ul> <li>Разрабо...,https://hh.ru/vacancy/42586378,1,Москва
67716,36346428,Системный администратор (менеджер проектов),False,False,60000.0,100000.0,RUR,False,2020-05-26 10:50:02+00,2020-05-26 10:50:02+00,2020-05-26 11:00:49.228661+00,https://api.hh.ru/vacancies/36346428?host=hh.ru,Оптимальная логистика,<p><strong><em>Компания &quot;Оптимальная логи...,https://hh.ru/vacancy/36346428,1,Москва
48981,36199507,Системный администратор,False,False,60000.0,NaN,RUR,False,2020-04-15 07:39:27+00,2020-04-15 07:39:27+00,2020-04-16 06:59:08.76238+00,https://api.hh.ru/vacancies/36199507?host=hh.ru,HAIRSHOP,<p>Группа компаний &quot;<strong>Hairshop</str...,https://hh.ru/vacancy/36199507,1,Москва
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46479,36320945,Администратор офиса,False,False,60000.0,65000.0,RUR,False,2020-03-16 18:00:06+00,2020-03-16 18:00:06+00,2020-03-16 19:01:04.475036+00,https://api.hh.ru/vacancies/36320945?host=hh.ru,Тарасов,<strong>Обязанности:</strong> <ul> <li>прием п...,https://hh.ru/vacancy/36320945,1,Москва
62222,36847787,Администратор (Обучим),False,False,60000.0,60000.0,RUR,False,2020-05-05 10:33:06+00,2020-05-05 10:33:06+00,2020-05-05 11:00:46.535193+00,https://api.hh.ru/vacancies/36847787?host=hh.ru,Кобзев Артем Валерьевич,<p>Для большей вероятности трудоустройства - п...,https://hh.ru/vacancy/36847787,1,Москва
30723,43497859,Администратор WMS/Операционист складского учет...,False,False,60000.0,80000.0,RUR,False,2021-04-27 10:48:30+00,2021-04-27 10:48:30+00,2021-04-30 07:12:06.775595+00,https://api.hh.ru/vacancies/43497859?host=hh.ru,Мега Трейд,<strong>Обязанности:</strong> <ul> <li>Работа ...,https://hh.ru/vacancy/43497859,1,Москва
29630,43388949,Администратор GetCourse,False,False,60000.0,NaN,RUR,False,2021-04-22 16:15:33+00,2021-04-22 16:15:33+00,2021-04-25 15:02:43.832782+00,https://api.hh.ru/vacancies/43388949?host=hh.ru,Центральная компания Visotsky Consulting,"<p>Привет, меня зовут Юля и я - рекрутер Центр...",https://hh.ru/vacancy/43388949,1,Москва
66375,37250100,Администратор сайта/системный администратор,False,False,60000.0,150000.0,RUR,True,2020-06-13 18:10:06+00,2020-06-13 18:10:06+00,2020-06-13 18:57:14.134598+00,https://api.hh.ru/vacancies/37250100?host=hh.ru,Санмейт,<p> </p> <ul> </ul> <p><strong>Обязанности:</s...,https://hh.ru/vacancy/37250100,1,Москва